# Práctica Covid Pandas

## Importamos las librerías necesarias

In [2]:
import pandas as pd

## Leemos el fichero CVS

In [3]:
df = pd.read_csv('./country_vaccinations.csv')

In [13]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.00,0.00,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,"1,367.00",NaN,NaN,NaN,34.00,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,"1,367.00",NaN,NaN,NaN,34.00,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,"1,367.00",NaN,NaN,NaN,34.00,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,"1,367.00",NaN,NaN,NaN,34.00,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

## Promedio de dosis administradas por país

In [11]:
pd.options.display.float_format = '{:,.2f}'.format
avg_doses = df.groupby('country')['total_vaccinations'].mean()

In [12]:
avg_doses.head()

country
Afghanistan   2,566,117.96
Albania       1,191,695.42
Algeria       9,956,085.92
Andorra          58,277.21
Angola        6,074,066.30
Name: total_vaccinations, dtype: float64

## Tasa de vacunación por cada 100000 habitantes de cada país

In [40]:
tasa_vacunacion = df.groupby('country')['total_vaccinations_per_hundred'].sum() * 100

Aqui tendremos que cruzar lo de total vacunacion con la poblacion de cada pais

In [42]:
tasa_vacunacion.head()

country
Afghanistan      29,637.00
Albania       1,028,708.00
Algeria          53,557.00
Andorra         316,423.00
Angola          114,563.00
Name: total_vaccinations_per_hundred, dtype: float64

In [34]:
df_world_population = pd.read_csv('./world_population.csv')

In [36]:
df_world_population.sort_values(by='Country/Territory')

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.06,1.03,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.87,1.00,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.85,1.02,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.48,0.98,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.56,1.01,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.49,1.00,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.17,1.02,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.82,1.02,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.60,1.03,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.77,1.02,0.20