In [1]:
import pandas as pd
from pathlib import Path

In [2]:
from src.extract import ExtractorCSV, ExtractorExcel, ExtractorSQLite

# Transformaciones energia

In [8]:
datosEnergy = ExtractorCSV.extract(Path("./data/energy.csv"), rows=4)

datosEnergy.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.856161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.675879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.050111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.233531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,53.174928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Borrar las columnas que no tienen datos importantes
datosEnergy.drop(columns=["Unnamed: 68", "Indicator Name", "Indicator Code", "Country Name"], inplace=True)

datosEnergy.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.099280,14.856161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.966589,25.675879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.323549,86.050111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.566146,31.233531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.175105,53.174928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Just want the years from 1990 to 2014, but also save the country name and country code
datosEnergy = datosEnergy[[ "Country Code"] + [str(i) for i in range(1990, 2015)]]

datosEnergy.head()

In [ ]:
# Transpose the years, so that we have a row for each year
datosEnergy = datosEnergy.T
datosEnergy.head()

In [ ]:
# Selecciona las columnas de los aÃ±os 1990 a 2014
years = [str(year) for year in range(1990, 2015)]

datosEnergy["Average Electricity"] = datosEnergy[years].mean(axis=1)


# Ahora puedes mostrar solo las columnas relevantes
result = datosEnergy[["Country Code", "Average Electricity"]]

# Mostrar el resultado
result.head()

# Transformaciones Emisiones

In [3]:
datosEmisions = ExtractorCSV.extract(Path("./data/emissions.csv"))

datosEmisions.head()

,country_or_area,year,value,category
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...

In [4]:
# Quitar la category
datosEmisions.drop(columns=["category"], inplace=True)

In [5]:
datosEmisions.head()

  country_or_area  year          value
0       Australia  2014  393126.946994
1       Australia  2013  396913.936530
2       Australia  2012  406462.847704
3       Australia  2011  403705.528314
4       Australia  2010  406200.993184

In [6]:
# Filtrar datos entre los aÃ±os 1990 y 2014
datos_filtrados = datosEmisions[(datosEmisions["year"] >= 1990) & (datosEmisions["year"] <= 2014)]

# Calcular el promedio de emisiones por paÃ­s entre los aÃ±os filtrados
promedio_emisiones = datos_filtrados.groupby("country_or_area")["value"].mean().reset_index()

# Renombrar la columna de emisiones promedio
promedio_emisiones.rename(columns={"value": "Average Emissions"}, inplace=True)

# Mostrar los resultados
print(promedio_emisiones)

             country_or_area  Average Emissions
0                  Australia       1.821873e+05
1                    Austria       2.814083e+04
2                    Belarus       4.714508e+04
3                    Belgium       5.182446e+04
4                   Bulgaria       2.162205e+04
5                     Canada       2.376913e+05
6                    Croatia       1.097966e+04
7                     Cyprus       3.532154e+03
8             Czech Republic       5.833018e+04
9                    Denmark       2.734710e+04
10                   Estonia       9.042186e+03
11            European Union       1.531488e+06
12                   Finland       2.711972e+04
13                    France       1.800495e+05
14                   Germany       3.123673e+05
15                    Greece       4.470396e+04
16                   Hungary       2.785024e+04
17                   Iceland       1.538565e+03
18                   Ireland       2.205619e+04
19                     Italy       1.824132e+05
20                     Japan       4.516332e+05
21                    Latvia       6.065848e+03
22             Liechtenstein       7.385859e+01
23                 Lithuania       1.089622e+04
24                Luxembourg       3.833000e+03
25                     Malta       1.156904e+03
26                    Monaco       4.108254e+01
27               Netherlands       8.163119e+04
28               New Zealand       2.889024e+04
29                    Norway       2.016933e+04
30                    Poland       1.631114e+05
31                  Portugal       3.062277e+04
32                   Romania       5.861314e+04
33        Russian Federation       9.754069e+05
34                  Slovakia       1.982465e+04
35                  Slovenia       7.401164e+03
36                     Spain       1.010394e+05
37                    Sweden       2.539344e+04
38               Switzerland       1.919474e+04
39                    Turkey       1.370795e+05
40                   Ukraine       2.004412e+05
41            United Kingdom       1.740014e+05
42  United States of America       2.084439e+06

In [1]:
import pandas as pd
from pathlib import Path

from src.extract import ExtractorCSV, ExtractorExcel, ExtractorSQLite
from src.transform import TransformEnergy, TransformPib, TransformEmissions

emissions_data = ExtractorCSV.extract(Path('./data/emissions.csv'))

In [2]:
df = TransformEmissions.transform(emissions_data)
df.head()

     country  Average Emissions
0  Australia      182187.274191
1    Austria       28140.834610
2    Belarus       47145.084054
3    Belgium       51824.463082
4   Bulgaria       21622.049086

# Transformaciones PIB

In [ ]:
pib_data = ExtractorExcel.extract(Path("data/pib.xlsx"), sheet_name="Full data")

pib_data.head()

In [ ]:
# Supongamos que df es tu DataFrame
# Eliminar las columnas 'region' y 'pop'
pib_data = pib_data.drop(columns=['region'])

# Mostrar los resultados
pib_data.head()

In [ ]:
pib_data = pib_data[(pib_data['year'] >= 1990) & (pib_data['year'] <= 2014)].reset_index(drop=True)

pib_data.head()

In [9]:
pib_data['pib_total'] = pib_data['gdppc'] * pib_data['pop']

In [ ]:
pib_data.head()

In [ ]:
pib_mean = pib_data.groupby('country')['pib_total'].mean().reset_index()
pib_mean.head(n=10)

In [ ]:
pib_per_capita = pib_data.groupby('country')['gdppc'].mean().reset_index()
pib_per_capita.head()

# Titanic, es de otra clase

In [ ]:
#
import seaborn as sns

In [106]:
df = sns.load_dataset("titanic")

In [ ]:
# Grafico de barras que muestra los que sobrevivieron y los que no, diferenciadolos por sexo
sns.countplot(data=df, x='survived', hue='sex')

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Cargar el dataset Iris
iris = load_iris()
X = iris.data # CaracterÃ­sticas
y = iris.target # Etiquetas

# Dividir el conjunto de datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Crear el clasificador KNN (K=1, por ejemplo)
k = 3
knn_classifier = KNeighborsClassifier(n_neighbors=k)

# Entrenar el clasificador con los datos de entrenamiento
knn_classifier.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred = knn_classifier.predict(X_test)

# Calcular la precisiÃ³n del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"PrecisiÃ³n del modelo KNN con K={k}: {accuracy : .2f}")

In [141]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
# Cargar el dataset Iris
iris = load_iris()
X = iris.data[:, :2] # Utilizamos solo las dos primerascaracterÃ­sticas para visualizaciÃ³n
y = iris.target
# Crear el clasificador KNN (K=3, por ejemplo)
k = 2
knn_classifier = KNeighborsClassifier(n_neighbors=k)
# Entrenar el clasificador con todos los datos
knn_classifier.fit(X, y)
# Crear una malla para el grÃ¡fico de la frontera de decisiÃ³n
x_min, x_max = X[:, 0].min() - 1, X[:, 0].max() + 1
y_min, y_max = X[:, 1].min() - 1, X[:, 1].max() + 1
xx, yy = np.meshgrid(np.arange(x_min, x_max, 0.1),
np.arange(y_min, y_max, 0.1))
Z = knn_classifier.predict(np.c_[xx.ravel(), yy.ravel()])
Z = Z.reshape(xx.shape)

In [ ]:
# Graficar la frontera de decisiÃ³n y los puntos de datos
plt.figure(figsize=(8, 6))
plt.contourf(xx, yy, Z, alpha=0.8, cmap='viridis')
plt.scatter(X[:, 0], X[:, 1], c=y, edgecolors='k',
cmap='viridis')
plt.xlabel('Feature 1')
plt.ylabel('Feature 2')
plt.title('Frontera de DecisiÃ³n con KNN (K=3)')
plt.show()

In [143]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
# Descargar el conjunto de datos de crÃ©dito alemÃ¡n desde una URL
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data'
column_names = [
    "Status_of_existing_checking_account",
    "Duration_in_month", "Credit_history", "Purpose",
    "Credit_amount", "Savings_account",
    "Present_employment_since", "Installment_rate",
    "Personal_status_and_sex", "Other_debtors",
    "Present_residence_since", "Property",
    "Age", "Other_installment_plans", "Housing",
    "Number_of_existing_credits", "Job",
    "Number_of_people_being_liable", "Telephone",
    "Foreign_worker", "Credit_approval"
]

In [146]:
# Cargar el conjunto de datos en un DataFrame de Pandas
data = pd.read_csv(url, delimiter=' ', header=None, names=column_names)
# Convertir variables categÃ³ricas usando One-Hot Encoding
categorical_cols = [
    "Status_of_existing_checking_account", "Credit_history", "Purpose",
    "Savings_account",
    "Present_employment_since", "Personal_status_and_sex", "Other_debtors",
    "Property",
    "Other_installment_plans", "Housing", "Job", "Telephone",
    "Foreign_worker"
]
numeric_cols = [col for col in data.columns if col not in categorical_cols
and col != "Credit_approval"]
# Aplicar One-Hot Encoding a las variables categÃ³ricas
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(), categorical_cols)],
    remainder='passthrough'
)
X = ct.fit_transform(data.drop('Credit_approval', axis=1))
# Separar caracterÃ­sticas (X) y etiquetas (y)
y = data['Credit_approval']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
random_state=42)

In [ ]:
# Crear el clasificador KNN (K=5, por ejemplo)
k = 5
knn_classifier = KNeighborsClassifier(n_neighbors=k)
# Entrenar el clasificador con los datos de entrenamiento
knn_classifier.fit(X_train, y_train)
# Realizar predicciones en el conjunto de prueba
y_pred = knn_classifier.predict(X_test)
# Calcular la precisiÃ³n del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"PrecisiÃ³n del modelo KNN con K={k}: {accuracy:.2f}")
# Matriz de confusiÃ³n para evaluar el rendimiento del modelo
conf_matrix = confusion_matrix(y_test, y_pred)
plt.figure(figsize=(6, 4))
sns.heatmap(conf_matrix, annot=True, fmt='d', cmap='Blues',
cbar=False)
plt.xlabel('PredicciÃ³n')
plt.ylabel('Valor Real')
plt.title('Matriz de ConfusiÃ³n')
plt.show()

In [ ]:
import pandas as pd
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
# Cargar el conjunto de datos de cÃ¡ncer de mama desde sklearn
data = load_breast_cancer()
X = data.data # CaracterÃ­sticas
y = data.target # Etiquetas (0 para tumor benigno, 1 para tumor maligno)
# Dividir el conjunto de datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y,
test_size=0.2, random_state=42)
# Crear el clasificador KNN (K=5, por ejemplo)
k = 5
knn_classifier = KNeighborsClassifier(n_neighbors=k)
# Entrenar el clasificador con los datos de entrenamiento
knn_classifier.fit(X_train, y_train)
# Realizar predicciones en el conjunto de prueba
y_pred = knn_classifier.predict(X_test)
# Calcular la precisiÃ³n del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"PrecisiÃ³n del modelo KNN con K={k}: {accuracy:.2f}")
# Matriz de confusiÃ³n para evaluar el rendimiento del modelo
conf_matrix = confusion_matrix(y_test, y_pred)
plt.figure(figsize=(6, 4))
sns.heatmap(conf_matrix, annot=True, fmt='d', cmap='Blues', cbar=False)
plt.xlabel('PredicciÃ³n')
plt.ylabel('Valor Real')
plt.title('Matriz de ConfusiÃ³n')
plt.show()

In [ ]:
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
# Cargar el conjunto de datos MNIST
mnist = fetch_openml('mnist_784')
# Separar caracterÃ­sticas (X) y etiquetas (y)
X = mnist.data
y = mnist.target
# Dividir el conjunto de datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y,
test_size=0.2, random_state=42)
# Crear el clasificador KNN (K=5, por ejemplo)
k = 5
knn_classifier = KNeighborsClassifier(n_neighbors=k)
# Entrenar el clasificador con los datos de entrenamiento
knn_classifier.fit(X_train, y_train)
# Realizar predicciones en el conjunto de prueba
y_pred = knn_classifier.predict(X_test)
# Calcular la precisiÃ³n del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"PrecisiÃ³n del modelo KNN con K={k}: {accuracy:.2f}")
# Matriz de confusiÃ³n para evaluar el rendimiento del modelo
conf_matrix = confusion_matrix(y_test, y_pred)
plt.figure(figsize=(10, 8))
sns.heatmap(conf_matrix, annot=True, fmt='d', cmap='Blues', cbar=False)
plt.xlabel('PredicciÃ³n')
plt.ylabel('Valor Real')
plt.title('Matriz de ConfusiÃ³n')
plt.show()

In [ ]:
from sklearn.decomposition import PCA
import numpy as np
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt


mnist = fetch_openml('mnist_784')
# Separar caracterÃ­sticas (X) y etiquetas (y)
X = mnist.data
y = mnist.target

# Reducir las dimensiones a 2 utilizando PCA
pca = PCA(n_components=2)
X_reduced = pca.fit_transform(X)

# Tomar un subconjunto mÃ¡s pequeÃ±o de los datos para entrenamiento (por ejemplo, 1000 muestras)
subset_size = 100  # tamaÃ±o del subconjunto
X_train_reduced = X_reduced[:subset_size]
y_train = y[:subset_size]

# Dividir el conjunto de datos reducido en entrenamiento y prueba
X_train_reduced, X_test_reduced, y_train, y_test = train_test_split(X_train_reduced, y_train, test_size=0.2, random_state=42)

# Crear el clasificador KNN
k = 5
knn_classifier = KNeighborsClassifier(n_neighbors=k)

# Entrenar el clasificador con los datos reducidos
knn_classifier.fit(X_train_reduced, y_train)

# Generar una malla de puntos para graficar la frontera de decisiÃ³n
h = .5  # TamaÃ±o de paso mÃ¡s grande para reducir la resoluciÃ³n
x_min, x_max = X_reduced[:, 0].min() - 1, X_reduced[:, 0].max() + 1
y_min, y_max = X_reduced[:, 1].min() - 1, X_reduced[:, 1].max() + 1

xx, yy = np.meshgrid(np.arange(x_min, x_max, h),
                     np.arange(y_min, y_max, h))

# Predecir la clase para cada punto de la malla
Z = knn_classifier.predict(np.c_[xx.ravel(), yy.ravel()])
Z = Z.reshape(xx.shape)

# Graficar la frontera de decisiÃ³n
plt.figure(figsize=(10, 8))
plt.contourf(xx, yy, Z, cmap=plt.cm.coolwarm, alpha=0.8)

# Graficar los puntos de entrenamiento
sns.scatterplot(x=X_train_reduced[:, 0], y=X_train_reduced[:, 1], hue=y_train, palette="viridis", s=40, edgecolor='k', legend=None)
plt.title(f'Frontera de DecisiÃ³n para KNN (K={k}) en espacio 2D (PCA)')
plt.xlabel('Componente principal 1')
plt.ylabel('Componente principal 2')
plt.show()